body {
  font: 16px/1.5 Arial, sans-serif;
}

section {
  width: 600px;
  margin: 0px auto;
}

nav {
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  margin: 0 auto;
  width: 64%;
}

nav ul {
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-left: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
  width: 64%;
  margin: 0px auto;
}
