body {
  font: 16px/1.5 Arial, sans-serif;
}

header {
  margin: 0 auto; /* this centers the header in body */
  text-align: center; /* this centers inline elements in the container */
  width: 550px; /* have to set a width to use margin: 0 auto; */
}

section {
  width: 550px;
  margin: 0px auto;
}

nav {
  font-family: 'Arial', sans-serif; /* not necessary */
  font-size: 1.5em;
  margin: 0 auto; /* not necessary */
}

nav ul {
  padding: 0;
  text-align: center; /* not necessary */
}

nav li {
  display: inline-block;
  margin-left: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
